.nav-link:hover {
    text-decoration: underline;
}

.text1, .text2, .text3, #item-um, #item-dois, #item-tres, .image-food {
    visibility: hidden;
}

.text1, .text2, .text3 {
    font-size: large;
}

.images {
    transition: transform .5s easy;
}


.images:hover {
    transform: scale(1.1);
}

.banner {
    background-image: url("../imagens/stock4.jpg");
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.text2 {
    padding-top: 20px;
    text-align: center;
    width: 100%;
}

.form-control::placeholder {
    color: white
  }

.graf-um {
    border: solid #00a1b3 ;
    margin-bottom: 30px;
}

#list-container {
    padding: 30px, 0, 10px, 0;
    margin-bottom: 50px;
    height: 200px;
    text-align: center;
}

#list-title {
    line-height: 2;
    margin-top: 10px;
}

.closed {
    line-height: 50px;
    font-size: large;
    list-style-position: inside;
    list-style-type: square;
}

.image-food {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 0.25rem;
    overflow-clip-margin: content-box;
    margin-bottom: 50px;
}